# Dependencies
node_modules/
yarn-error.log
package-lock.json
yarn.lock

# Build
dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.htaccess

# Sessions
sessions/

# Prisma
prisma/migrations/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

/volume
